* {
  box-sizing: border-box;
}

/*Base Styles*/
html {
	font-size: 16px;
}

body {
	font-family: 'Cantarell', sans-serif;
	color: #555;
	line-height: 1.6;
}
.hamburger {
	cursor: pointer;
    display: block;
    position: absolute;
    top: 1.25rem;
    left: 0.9375rem;
    font-size: 1.688rem;
    color: white;
}
/*.search {
	background-image: url("../images/planner.jpg");
	background-width: 100%;
}*/
/*Responsive Images*/
img {
	max-width: 100%; 
	margin: -1.25rem auto;
	margin-top: 1.563rem;
	margin-bottom: -3.438rem;
}
#logo_small {
	height: 57%;
	width: 5%;
}
article img {
	margin: 0 auto;
}


/*Typography */
h2 {
	text-align: center;	
}
.how_to {
	margin-top: 2.5rem;
}
h3 {
	text-align: center;
}
p {
	font-family: 'Fjalla+One', sans-serif;
}
/*Lists*/
nav ul {
	margin: 0;
}
aside ul {
	text-align: center;
	list-style-type: disc;
	list-style-position: inside;
}
li 
	{
	display: inline-block;
	padding: 1.25rem;
	}
aside li {
	display: list-item;
	padding: 1.25rem; /*Sarah- how do I add/customize bullet points?*/
}
li a {
	color: white;
	font-size: 1.125rem;
	transition: .5s;
}
a:hover {
	background-color: white;
	color: #555;
}
/*Layout*/
nav {
	text-align: center;
	background-color: #105B63;
	position: fixed; 
	top: 0;
  	left: 0;
  	right: 0;
  	z-index: 100;
}
.sidebar {
	transform: translateX(-100%);
	transition: all .5s ease-in-out;
	width: 20%;
	height: 100%;
	
}
.sidebar li {
	display: block;
	text-align: left;
	padding: 0;
}
.active {
	transform: translateX(0);
}
.subject {
	display: none; 
}
.third_math {
	display: none;
	margin-left: 1.875rem;
}
.third_ELA {
	display: none;
	margin-left: 1.875rem;
}
.display {
	display: inline-block;
}

.close {
  position: absolute;
  top: .5rem;
  right: .375rem;
  text-transform: none;
  font-size: 1.25rem;
  margin-top: 3.125rem;
  color: white;
  text-decoration: none;
}
section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	
}
.beforeScroll {
	width: 100%;
/*	display: none;*/
	opacity: 0;
	transition: all .7s ease-in-out;
	
}
.afterScroll {
	width: 100%;
	display: flex;
	opacity: 1;
}
#order_1 {
	transition: all 1s ease-in-out;
}
#order_2 {
	transition: all 2s ease-in-out;
}
#order_3 {
	transition: all 3s ease-in-out;
}
.flip {
	transform: rotateX(360deg);
}

div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
div article {
	width: 60%;
}
.why {
	margin-right: -10.63rem;
}
aside {
	width: 35%;
}
aside ul {
	margin-top: 7.5rem;
}
article {
	width: 30%;
}
.container {
	display: flex;
	flex-direction: row;
	border: 4px solid black;
}
.row_nav {
	margin-top: 5.313rem;
	display: block;
	text-align: center;
	border: 4px solid black;
	width: 100%;
}
.standard {
	margin: .3125rem auto;
	border: 4px solid black;
}
.prereqs {
	width: 30%;
	border: 4px solid black;
}
.faq {
	width: 60%;
	border: 4px solid black;
}
.cq {
	margin-top: -4.375rem;
}
/*Header*/
header {
	
	/*position: relative*/
}
/*Footer*/
footer {
	background-color: #105B63;
	padding: 2.5rem 0px;
	margin-top: 1.875rem;
}
/*Buttons*/
button {
	border: black solid 2px; 
}
/*Forms*/
form {
	text-align: center;
}

input {
	width: 50%;
	padding: .5rem .3125rem;
	margin-right: 1.875rem;
	font-size: 1rem;
}

footer input {
	width: 30%;
}
footer {
	display: block;
	text-align: center;
}
/*Responsive design */
@media only screen and (max-width: 960px) {
	.search {
		margin-top: 1.5rem
		} 
	.beforeScroll {
		opacity: 1;
	}
@media only screen and (max-width: 660px) {
	
}
@media only screen and (max-width: 495px) {
	.main_nav a {
		display: none;
	}
	.sidebar {
		display: inline-block;
	}
	section {
		flex-direction: column;
	}
	article {
		width: 90%;
	}
	.why_ctd {
		display: none;
	}
	}

